:root {
  --page-padding: 24px;
  --page-max-width: 1000px;
  --page-responsive-desktop: 800px;
  --page-header-height: 64px;
  --page-footer-height: 64px;
  --section-header-max-width: 700px;
  --list-item-max-width: 450px;

  --background: #fff;
  --background-alternate: #f8f9fa;
  --section-separator-color: #ddd;
  --section-separator-width: 0.5px;
  --section-accent-text-color: hsl(160, 100%, 5%);

  --text: #343a40;
  --text-shade: #333a;
  --text-accent: #fff;
  --text-accent-shade: #fffa;
  --accent: #eee;
  --accent-light: #fff9db;
  --accent-normal: #ffec99;
  --accent-btn: #ffd43b;
  --accent-dark: #fab005;
  --button: #444;

  --illustration: #dddd;

  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-line-height: 1.6;
  --body-letter-spacing: -0.3px;

  --title-font-size: 3rem;
  --title-font-weight: 800;
  --title-line-height: 1.2;
  --title-letter-spacing: 2px;

  --subtitle-font-size: 21px;
  --subtitle-font-weight: 400;
  --subtitle-line-height: 1.5;
  --subtitle-letter-spacing: -0.8px;

  --h1-font-size: 3rem;
  --h1-font-weight: 700;
  --h1-line-height: 1.15;
  --h1-letter-spacing: 1px;

  --h2-font-size: 26px;
  --h2-font-weight: 500;
  --h2-line-height: 1;
  --h2-letter-spacing: -1px;

  --h3-font-size: 21px;
  --h3-font-weight: 500;
  --h3-line-height: 1;
  --h3-letter-spacing: -0.6px;

  --max-poster-width: 900px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-comic-shanns), sans-serif;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  color: var(--text);
  background-color: var(--background-alternate);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

a {
  font-family: var(--font-comic-shanns), sans-serif;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-comic-shanns), sans-serif;
  color: var(--text);
  margin: 0;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
