.container {
}

.header {
  max-width: var(--section-header-max-width);
  margin: 0 auto;
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  text-align: center;
  margin-bottom: 16px;
}

.subtitle {
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  text-align: center;
  color: var(--text-shade);
}

.benefits {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8rem;
  padding: 0;
  margin: 0;
}

.benefit {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: var(--list-item-max-width);
  width: 100%;
  margin: 0;
  padding: 0;
}

.illustration-container {
  display: block;
  position: relative;
  align-self: center;
}

.benefit-illustration {
  position: relative;
  max-width: 18rem;
  max-height: 18rem;
  width: 50vw;
  height: 50vw;

  /* border-radius: 8px; */
  /* background: white; */

  /* box-shadow: 0 4px 4px var(--section-separator-color); */
  /* box-shadow: violet 0px 2px 8px 0px; */

  /* outline-color: violet; */
  /* outline-width: 2px; */
  /* outline-style: solid; */
}

.spotlight {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  max-width: 18rem;
  max-height: 18rem;
  width: 50vw;
  height: 50vw;
  background: radial-gradient(
    ellipse at center,
    var(--accent-normal) 25%,
    transparent 70%
  );
}

.benefit-content {
  margin-top: 24px;
  text-align: center;
  overflow: hidden;
}

.benefit-title {
  font-size: var(--h2-font-size);
  font-weight: var(--h3-font-weight);
  /* line-height: var(--h1-line-height); */
  letter-spacing: var(--h3-letter-spacing);
  margin-bottom: 8px;
}

.benefit-text {
  color: var(--text-shade);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
}

@media screen and (min-width: 1050px) {
  .benefits {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: row;
    gap: 4rem;
  }
  .benefit {
    flex: 1 1 0;
  }
  .benefit-illustration {
    width: 18rem;
    height: 18rem;
  }
  .spotlight {
    width: 18rem;
    height: 18rem;
  }
}
