.container {
  /* gives room for glow */
  padding-top: 20rem;
  padding-bottom: 140px !important;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: var(--page-responsive-desktop);
  margin: 0 auto;
  margin-top: 48px;
}

.title {
  color: var(--text);
  padding: 0.25rem;
  font-size: 4rem;
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  text-align: center;
  overflow: hidden;
  background: linear-gradient(
    100deg,
    hsl(180, 100%, 50%),
    hsl(190, 100%, 65%),
    hsl(160, 100%, 65%)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* stroke */
  -webkit-text-stroke: 1px var(--text-shade);
}

.subtitle,
.subtitle1,
.subtitle2 {
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
  text-align: center;
  color: var(--text-accent-shade);
}

.subtitle1 {
  color: var(--text);
}

.subtitle2 {
  color: var(--text-shade);
  font-size: medium;
  overflow: hidden;
}

.illustrationContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.illustration {
  position: relative;
  width: 100%;
  height: 240px;
  background: var(--illustration);
}

.glow {
  position: absolute;
  /* Keep centered when resizing */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  background: radial-gradient(
    ellipse at center,
    var(--accent-normal) 0%,
    transparent 70%
  );
}
