.container {
  padding-top: var(--space-10);
  padding-bottom: var(--space-10);
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  max-width: 600px;
  margin: 0 auto;
  margin-top: var(--space-7);
}

.title {
  font-family: var(--font-lilita-one), sans-serif;
  color: var(--text);
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 400;
  line-height: var(--h1-line-height);
  letter-spacing: 0.5px;
  text-align: center;
}

.subtitle,
.subtitle1,
.subtitle2 {
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
  text-align: center;
}

.subtitle1 {
  color: var(--text);
}

.subtitle2 {
  color: var(--text-shade);
  font-size: 1rem;
}

.illustrationContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.illustration {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 200px;
  background: var(--illustration);
}

.glow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28rem;
  height: 28rem;
  background: radial-gradient(
    ellipse at center,
    var(--accent-normal) 0%,
    transparent 60%
  );
  opacity: 0.5;
}
