.container {}

.header {
  max-width: var(--section-header-max-width);
  margin: 0 auto;
  margin-bottom: 64px;
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  text-align: center;
  margin-bottom: 16px;
}

.icon {
  background-color: transparent;
  padding: 0.25rem;
  font-size: xx-large;
  text-align: left;
}

.subtitle {
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  text-align: center;
  color: var(--text-shade);
}

.glow1 {
  display: block;
  position: absolute;
  right: -1rem;
  top: -9rem;
  height: 16rem;
  width: 16rem;
  background-color: aqua;
  background: radial-gradient(#ffffffe3, #c4c8ff, rgb(0, 255, 255), transparent);
  background-size: 300% 100%;
  mask-image: -moz-radial-gradient(white, white, transparent, transparent, transparent);
}

.features {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-flow: column;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 3rem;
}

.feature {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background-color: aquamarine;
  border-radius: 2rem;
  outline-color: hsl(160, 45%, 60%);
  outline-width: 2px;
  outline-style: solid;
  /* background-image: linear-gradient(55deg, hsl(180, 70%, 50%), hsl(160, 60%, 84%), white); */
  background: radial-gradient(ellipse at top, aqua, transparent),
  radial-gradient(ellipse at bottom, aquamarine, transparent);
  overflow: hidden;
}

.feature-illustration {
  width: 100%;
  height: 10rem;
  background: var(--illustration);
  border-radius: 28px;
}

.feature-content {
  margin-top: 16px;
}

.feature-title {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  margin-bottom: 8px;
}

.feature-text {
  color: var(--text-shade);
}

@media screen and (min-width: 620px) {
  .features {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .feature {
    width: 15.5rem;
  }
}
