.header {
  max-width: var(--section-header-max-width);
  margin: 0 auto;
  margin-bottom: 64px;
  overflow: hidden;
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  text-align: center;
  margin-bottom: 16px;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
  text-align: center;
  color: var(--text-shade);
}

.icon {
  background-color: transparent;
  padding: 0.25rem;
  font-size: 4rem;
  text-align: center;
  align-self: center;
}

.features {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-flow: column;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 3rem;
}

.feature {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background: radial-gradient(
    ellipse at center,
    var(--accent-light) 0%,
    transparent 85%
  );
  overflow: hidden;
  /* box-shadow: violet 0px 5px 15px; */
  /* box-shadow: #ffec99 0px 2px 8px 0px; */
}

.feature-illustration {
  width: 100%;
  height: 10rem;
  background: var(--illustration);
  border-radius: 28px;
}

.feature-content {
  margin-top: 16px;
}

.feature-title {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  margin-bottom: 8px;
  text-align: center;
}

.feature-text {
  color: var(--text-shade);
  text-align: center;
}

@media screen and (min-width: 620px) {
  .features {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .feature {
    width: 15.5rem;
  }
}
