.container {
  display: block;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  gap: 1rem;
  align-items: center;
  background: var(--background-alternate);
  box-shadow: 0 2px 2px var(--section-separator-color);
}

.titleGroup {
  display: block;
  position: relative;
  justify-self: flex-start;
  align-self: center;
  flex-grow: 1;
  overflow: hidden;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-self: center;
  gap: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
}

.btn {
  position: relative;
  display: flex;
  align-items: stretch;
  width: fit-content;
  height: fit-content;
  padding: 0;
}
