.container {
  display: block;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  max-height: var(--page-header-height);
  width: 100%;
  padding: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  gap: 0.5rem;
  background: var(--background);
  box-shadow: 0 2px 2px var(--section-separator-color);
  overflow: hidden;
}

.titleGroup {
  display: flex;
  flex-direction: row;
  position: relative;
  align-self: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.logo {
  flex-shrink: 0;
}

.titleLink {
  color: var(--text);
  font-weight: bold;
  text-decoration: underline;
  text-wrap: nowrap;
}

.descr {
  color: var(--text-shade);
  font-weight: lighter;
  text-wrap: nowrap;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 4;
  gap: 1.25rem;
  justify-content: flex-end;
  align-self: flex-end;
  white-space: nowrap;
  height: 100%;
  min-width: 150px;
  overflow: hidden;
}

.btn {
  position: relative;
  display: flex;
  align-items: stretch;
  width: fit-content;
  height: fit-content;
  padding: 0;
}
