.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: var(--accent-btn);
  padding: var(--page-padding);
}
.container h1 {
  font-size: var(--h1-font-size);
}
.container p {
  font-size: var(--subtitle-font-size);
}
