.btn {
    color: var(--text);
    background: aquamarine;
}

.btn:active {
    background: aquamarine;
    top: 0px;
    box-shadow: none;
}

.btn:hover {
    top: -3px;
    box-shadow: 0 3px 0 #0002, 0 3px 0 aqua;
}
